#menu
{
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:max-content;
    z-index:100;
}

.choice_panel
{

    background: rgba(54, 54, 54, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.4px);
    -webkit-backdrop-filter: blur(2.4px);
    border: 1px solid rgba(54, 54, 54, 0.41);

    width: 25vh;
    height: 25vh;
    font-family: Arial;
    display: inline-block;
    margin-left: 2vh;
    margin-right: 2vh;
    cursor:pointer;
    transform: scale(1);
    transition:all 0.2s cubic-bezier(.18,.89,.32,1.28);
}

.choice_panel:hover
{
    transform: scale(1.1);
}

.choice_panel > p
{
    text-align: center;
    font-size:2.5vh;
}

.choice_panel > img
{
    margin:auto;
    display:block;
    margin-top:2vh;
    width:10vh;
    height:10vh;
}