#audio_box
{
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);


    background: rgba(54, 54, 54, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.4px);
    -webkit-backdrop-filter: blur(2.4px);
    border: 1px solid rgba(54, 54, 54, 0.41);

    width: 130vh;
    height: 70vh;
    font-family: Arial;

    animation: slide_in 1s;
    animation-fill-mode:forwards;
    z-index:100;
    padding:1vh;
}



.audio_grid {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 0.9fr 2fr 0.7fr;
  grid-template-rows: 0.4fr 1.6fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "audio_setup audio_setup audio_spectrum"
    "audio_info audio_image audio_spectrum"
    "audio_info audio_image audio_spectrum";
  height:100%;
  width:100%;
  gap:1vh;
}
.audio_setup { grid-area: audio_setup; display: flex;
  justify-content: center;
  align-items: center;
  font-size:1.5vh;
  font-weight:bold;

}

.space
{
font-weight:normal;
}
.audio_setup > div
{
    height:5vh;
}

.audio_spectrum
{ grid-area: audio_spectrum;
position:relative;
overflow:hidden;

}
.audio_info
 {
 grid-area: audio_info;
  font-size:1.5vh;
  color:white;
  display:table;
  }
.audio_image { grid-area: audio_image;position:relative; }

#audio_spectrum
{
     overflow:hidden;
     width:100%;
     position:absolute;

     transition: all 1s linear;
     transition-duration: 1s;
     bottom:0px;
}

#audio_spectrum_info
{
     overflow:hidden;
     top:0;
     bottom:0;
     left:0;
     right:0;
     position:absolute;

}

.table
{

    margin:auto;
    margin-top:1vh;
    width:80%;
    font-size: 1.5vh;
    text-align: left;
    border-collapse:separate;
  border-spacing: 0 1vh;
}

.table_memory
{

    margin:auto;
    width:80%;
    font-size: 1.5vh;
    text-align: left;
    border-collapse:separate;
}

.audio_info_text
{
    width:80%;
    margin:auto;
    margin-top:1vh;
    font-size:1.7vh;
    font-weight:bold;
    color: rgba(255,255,255,0.8);
}
#audio_spectrum_info > p
{
    font-size: 10px;
    color: white;
    position:absolute;
    padding:0;
    margin:0;
}

#freq_min
{
    left:0;
    top:0;
}

#freq_max
{
    right:0;
    top:0;
}

#time_min
{
    left:0;
    top:1vh;
}

#time_max
{
    left:0;
    bottom:0;
}

.border {
	background: rgb(13, 13, 13);
	border-radius: 7px;
}

#audio_setup_inline_left
{
    display:inline-block;
    width:57%;
    float:left;
    margin-left:2vh;
    padding-top:2vh;
}

#audio_setup_inline_center
{
    display:flex;
    width:18%;
    padding-left:2vh;
    border-left:solid 1px rgba(255,255,255,0.5);
}

#audio_setup_inline_right
{
    display:inline-block;
    width:25%;
    margin-left:auto;
    border-left:solid 1px rgba(255,255,255,0.5);
}

.memory
{
    border-left: solid 1px rgba(255,255,255,0.5);
    padding-left:2vh;
}

#record_control {
  width: 5vh;
  height: 5vh;
  cursor: pointer;
  position:relative;
  margin-left:2vh;
}
#record_control .border {
  width: 100%;
  height: 100%;
  border: 1px solid #4ea62b;
  border-radius: 5vh;
}
#record_control.is--playing .border {
  border-top: none;
  border-bottom: none;
  -webkit-animation: spin 1.5s ease-in-out infinite;
          animation: spin 1.5s ease-in-out infinite;
  border-color: transparent #ba2323 transparent #ba2323;
}
#record_control .play {
  position: absolute;
  top: 1.5vh;
  left: 2.1vh;
  box-sizing: border-box;
  height: 2vh;
  width: 2vh;
  border-color: transparent transparent transparent #4ea62b;
  transition: 100ms all ease;
  will-change: border-width;
  cursor: pointer;
  border-style: solid;
  border-width: 1vh 0 1vh 1.5vh;
}
#record_control.is--playing .play {
  border-style: double;
  border-width: 0px 0 0px 1.5vh;
  transform: translate(-0.2vh, 0.1vh);
  border-color: transparent transparent transparent #ba2323;
}


@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#audio_devices_select
{
    width:30%;
    display:inline;
}

#audio_output_panel
{

    display:table-row;
    height:100%;
    margin:1vh;
    border-spacing: 0 1em;
    position:relative;
}
#audio_output_panel_inner
{
    margin:1vh;
    position:absolute;
    top:0vh;
    left:0;
    bottom:0;
    right:0;

}

#output_audio
{
    display:block;
    margin:auto;
    margin-top:3vh;
    width:80%;

}

#audio_not_saved
{
    position:absolute;
    left:0;
    right:0;
    top:0vh;
    bottom:0;
    background: rgba(21, 21, 21, 0.9);
    border-radius:1vh;

}

#audio_download_button
{
    margin:auto;
    margin-top:1vh;
    padding:0.5vh;
    display:block;
}

#image_frames
{
position:absolute;
left:10%;
top:10%;
right:10%;
bottom:10%;
}









#lpm
{
width:fit-content;
display:inline;
margin:auto;
margin-left:2vh;

}

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  display:inline-block;
  width:15%;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #646464;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 2px solid black;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #2f2f2f;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}















.button {
	--background: #333;
	--background-hover: #202020;
	--text: #fff;
	--shadow: rgba(0, 9, 61, .2);
	--paper: #484848;
	--paper-lines: #fff;
	--trash: #E1E6F9;
	--trash-lines: #BBC1E1;
	--check: #fff;
	--check-background: #282828;
	position: relative;
	border: none;
	outline: none;
	/* background: none; */
	padding: 10px 24px;
	border-radius: 7px;
	min-width: 142px;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
	display: flex;
	color: var(--text);
	background: var(--btn, var(--background));
	box-shadow: 0 var(--shadow-y, 4px) var(--shadow-blur, 8px) var(--shadow);
	transform: scale(var(--scale, 1));
	transition: transform 0.2s, box-shadow 0.2s, background 0.2s;
	margin-left: 2vh;
}
.button span {
  display: block;
  font-size: 14px;
  line-height: 28px;
  font-weight: 600;
  opacity: var(--span-opacity, 1);
  transform: translateX(var(--span-x, 0)) translateZ(0);
  transition: transform 0.2s ease var(--span-delay, 0.2s), opacity 0.3s ease var(--span-delay, 0.1s);
}
.button .trash {
  display: block;
  position: relative;
  left: -8px;
  transform: translate(var(--trash-x, 0), var(--trash-y, 1px)) translateZ(0) scale(var(--trash-scale, 0.64));
  transition: transform 0.2s;
}
.button .trash:before, .button .trash:after {
  content: "";
  position: absolute;
  height: 8px;
  width: 2px;
  border-radius: 1px;
  background: var(--icon, var(--trash));
  bottom: 100%;
  transform-origin: 50% 6px;
  transform: translate(var(--x, 3px), 2px) scaleY(var(--sy, 0.7)) rotate(var(--r, 0deg));
  transition: transform 0.2s, background 0.1s;
}
.button .trash:before {
  left: 1px;
}
.button .trash:after {
  right: 1px;
  --x: -3px;
}
.button .trash .top {
	position: absolute;
	overflow: hidden;
	left: -2px;
	right: -4px;
	bottom: 100%;
	height: 40px;
	z-index: 1;
	transform: translateY(2px);
}
.button .trash .top:before, .button .trash .top:after {
  content: "";
  position: absolute;
  border-radius: 1px;
  background: var(--icon, var(--trash));
  width: var(--w, 12px);
  height: var(--h, 2px);
  left: var(--l, 8px);
  bottom: var(--b, 5px);
  transition: background 0.1s, transform 0.2s;
}
.button .trash .top:after {
  --w: 28px;
  --h: 2px;
  --l: 0;
  --b: 0;
  transform: scaleX(var(--trash-line-scale, 1));
}
.button .trash .top .paper {
  width: 14px;
  height: 18px;
  background: var(--paper);
  left: 7px;
  bottom: 0;
  border-radius: 1px;
  position: absolute;
  transform: translateY(-16px);
  opacity: 0;
}
.button .trash .top .paper:before, .button .trash .top .paper:after {
  content: "";
  width: var(--w, 10px);
  height: 2px;
  border-radius: 1px;
  position: absolute;
  left: 2px;
  top: var(--t, 2px);
  background: var(--paper-lines);
  transform: scaleY(0.7);
  box-shadow: 0 9px 0 var(--paper-lines);
}
.button .trash .top .paper:after {
  --t: 5px;
  --w: 7px;
}
.button .trash .box {
	width: 20px;
	height: 25px;
	border: 2px solid var(--icon, var(--trash));
	border-radius: 1px 1px 4px 4px;
	position: relative;
	overflow: hidden;
	z-index: 2;
	transition: border-color 0.1s;
	left: -1px;
}
.button .trash .box:before, .button .trash .box:after {
  content: "";
  position: absolute;
  width: 4px;
  height: var(--h, 20px);
  top: 0;
  left: var(--l, 50%);
  background: var(--b, var(--trash-lines));
}
.button .trash .box:before {
  border-radius: 2px;
  margin-left: -2px;
  transform: translateX(-3px) scale(0.6);
  box-shadow: 10px 0 0 var(--trash-lines);
  opacity: var(--trash-lines-opacity, 1);
  transition: transform 0.2s, opacity 0.2s;
}
.button .trash .box::after {
	--h: 16px;
	--b: var(--paper);
	--l: 1px;
	transform: translate(-0.5px, -16px) scaleX(0.5);
	box-shadow: 7px 0 0 var(--paper), 14px 0 0 var(--paper), 21px 0 0 var(--paper);
	left: 3px;
}
.button .trash .check {
	padding: 4px 3px;
	border-radius: 50%;
	background: var(--check-background);
	position: absolute;
	left: 5px;
	top: 24px;
	opacity: var(--check-opacity, 0);
	transform: translateY(var(--check-y, 0)) scale(var(--check-scale, 0.1));
	transition: transform var(--check-duration, 0.1s) ease var(--check-delay, 0s), opacity var(--check-duration-opacity, 0.1s) ease var(--check-delay, 0s);
}
.button .trash .check svg {
  width: 8px;
  height: 6px;
  display: block;
  fill: none;
  stroke-width: 1.5;
  stroke-dasharray: 9px;
  stroke-dashoffset: var(--check-offset, 9px);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--check);
  transition: stroke-dashoffset 0.2s ease var(--checkmark-delay, 0.2s);
}
.button.delete {
  --span-opacity: 0;
  --span-x: 16px;
  --span-delay: 0s;
  --trash-x: 46px;
  --trash-y: 2px;
  --trash-scale: 1;
  --trash-lines-opacity: 0;
  --trash-line-scale: 0;
  --icon: #fff;
  --check-offset: 0;
  --check-opacity: 1;
  --check-scale: 1;
  --check-y: 16px;
  --check-delay: 0.7s;
  --checkmark-delay: 1.1s;
  --check-duration: .35s;
  --check-duration-opacity: .1s;
}
.button.delete .trash:before, .button.delete .trash:after {
  --sy: 1;
  --x: 0;
}
.button.delete .trash:before {
  --r: 40deg;
}
.button.delete .trash:after {
  --r: -40deg;
}
.button.delete .trash .top .paper {
  -webkit-animation: paper 0.8s linear forwards 0.2s;
          animation: paper 0.8s linear forwards 0.2s;
}
.button.delete .trash .box:after {
  -webkit-animation: cut 0.8s linear forwards 0.2s;
          animation: cut 0.8s linear forwards 0.2s;
}
.button.delete, .button:hover {
  --btn: var(--background-hover);
  --shadow-y: 5px;
  --shadow-blur: 9px;
}
.button:active {
  --shadow-y: 2px;
  --shadow-blur: 5px;
  --scale: .94;
}

@-webkit-keyframes paper {
  10%, 100% {
    opacity: 1;
  }
  20% {
    transform: translateY(-16px);
  }
  40% {
    transform: translateY(0);
  }
  70%, 100% {
    transform: translateY(24px);
  }
}

@keyframes paper {
  10%, 100% {
    opacity: 1;
  }
  20% {
    transform: translateY(-16px);
  }
  40% {
    transform: translateY(0);
  }
  70%, 100% {
    transform: translateY(24px);
  }
}
@-webkit-keyframes cut {
  0%, 40% {
    transform: translate(-0.5px, -16px) scaleX(0.5);
  }
  100% {
    transform: translate(-0.5px, 24px) scaleX(0.5);
  }
}
@keyframes cut {
  0%, 40% {
    transform: translate(-0.5px, -16px) scaleX(0.5);
  }
  100% {
    transform: translate(-0.5px, 24px) scaleX(0.5);
  }
}