#audio_box
{
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);


    background: rgba(54, 54, 54, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.4px);
    -webkit-backdrop-filter: blur(2.4px);
    border: 1px solid rgba(54, 54, 54, 0.41);

    width: 120vh;
    height: 70vh;
    font-family: Arial;

    animation: slide_in 1s;
    animation-fill-mode:forwards;
    z-index:100;
    padding:1vh;
}



.audio_grid {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 0.7fr 2fr 0.7fr;
  grid-template-rows: 0.4fr 1.6fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "audio_setup audio_setup audio_spectrum"
    "audio_info audio_image audio_spectrum"
    "audio_info audio_image audio_spectrum";
  height:100%;
  width:100%;
  gap:1vh;
}
.audio_setup { grid-area: audio_setup; display: flex;
  justify-content: center;
  align-items: center;
  font-size:1.5vh;
  font-weight:bold;

}

.space
{
font-weight:normal;
}
.audio_setup > div
{
    height:5vh;
}

.audio_spectrum
{ grid-area: audio_spectrum;
position:relative;
overflow:hidden;

}
.audio_info
 {
 grid-area: audio_info;
  font-size:1.5vh;
  color:white;
  display:table;
  }
.audio_image { grid-area: audio_image;position:relative; }

#audio_spectrum
{
     overflow:hidden;
     width:100%;
     position:absolute;

     transition: all 1s linear;
     transition-duration: 1s;
     bottom:0px;
}

#audio_spectrum_info
{
     overflow:hidden;
     top:0;
     bottom:0;
     left:0;
     right:0;
     position:absolute;

}

.table
{

    margin:auto;
    margin-top:1vh;
    width:80%;
    font-size: 1.5vh;
    text-align: left;
    border-collapse:separate;
  border-spacing: 0 2vh;
}

.table_memory
{

    margin:auto;
    width:80%;
    font-size: 1.5vh;
    text-align: left;
    border-collapse:separate;
}

.audio_info_text
{
    width:80%;
    margin:auto;
    margin-top:1vh;
    font-size:1.7vh;
    font-weight:bold;
    color: rgba(255,255,255,0.8);
}
#audio_spectrum_info > p
{
    font-size: 10px;
    color: white;
    position:absolute;
    padding:0;
    margin:0;
}

#freq_min
{
    left:0;
    top:0;
}

#freq_max
{
    right:0;
    top:0;
}

#time_min
{
    left:0;
    top:1vh;
}

#time_max
{
    left:0;
    bottom:0;
}

.border {
	background: rgb(13, 13, 13);
	border-radius: 7px;
}

#audio_setup_inline_left
{
    display:inline-block;
    width:57%;
    float:left;
    margin-left:2vh;
    padding-top:2vh;
}

#audio_setup_inline_center
{
    display:flex;
    width:18%;
    padding-left:2vh;
    border-left:solid 1px rgba(255,255,255,0.5);
}

#audio_setup_inline_right
{
    display:inline-block;
    width:25%;
    margin-left:auto;

}

.memory
{
    border-left: solid 1px rgba(255,255,255,0.5);
    padding-left:2vh;
}

#record_control {
  width: 5vh;
  height: 5vh;
  cursor: pointer;
  position:relative;
  margin-left:2vh;
}
#record_control .border {
  width: 100%;
  height: 100%;
  border: 1px solid #4ea62b;
  border-radius: 5vh;
}
#record_control.is--playing .border {
  border-top: none;
  border-bottom: none;
  -webkit-animation: spin 1.5s ease-in-out infinite;
          animation: spin 1.5s ease-in-out infinite;
  border-color: transparent #ba2323 transparent #ba2323;
}
#record_control .play {
  position: absolute;
  top: 1.5vh;
  left: 2.1vh;
  box-sizing: border-box;
  height: 2vh;
  width: 2vh;
  border-color: transparent transparent transparent #4ea62b;
  transition: 100ms all ease;
  will-change: border-width;
  cursor: pointer;
  border-style: solid;
  border-width: 1vh 0 1vh 1.5vh;
}
#record_control.is--playing .play {
  border-style: double;
  border-width: 0px 0 0px 1.5vh;
  transform: translate(-0.2vh, 0.1vh);
  border-color: transparent transparent transparent #ba2323;
}


@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#audio_devices_select
{
    width:30%;
    display:inline;
}

#audio_output_panel
{

    display:table-row;
    height:100%;
    margin:1vh;
    border-spacing: 0 1em;
    position:relative;
}
#audio_output_panel_inner
{
    margin:1vh;
    position:absolute;
    top:0vh;
    left:0;
    bottom:0;
    right:0;

}

#output_audio
{
    display:block;
    margin:auto;
    margin-top:3vh;
    width:80%;

}

#audio_not_saved
{
    position:absolute;
    left:0;
    right:0;
    top:0vh;
    bottom:0;
    background: rgba(21, 21, 21, 0.9);
    border-radius:1vh;

}

#audio_download_button
{
    margin:auto;
    margin-top:1vh;
    padding:0.5vh;
    display:block;
}

#image_frames
{
position:absolute;
left:10%;
top:10%;
right:10%;
bottom:10%;
}









#lpm
{
width:fit-content;
display:inline;
margin:auto;
margin-left:2vh;

}

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  display:inline-block;
  width:15%;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #646464;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 2px solid black;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #2f2f2f;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

