a
{
text-decoration: none;
color:white;
}


.back_button {
  border-radius: 100%;
  background: rgba(54, 54, 54, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.4px);
    -webkit-backdrop-filter: blur(2.4px);
    border: 1px solid rgba(54, 54, 54, 0.41);
  color: white;
  border: none;
  padding: 5px;
  font-size: 4vh;
  height: 5vh;
  width: 5vh;
  cursor: pointer;
  transition: all 0.2s ease;
  position:absolute;
    top: 3vh;
    left:3vh;
    transform:translate(-50%,-50%);
    z-index:100;
    line-height:1vh;
}

.back_button:hover {
  background-color: rgba(54, 54, 54, 0.8);
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background:#121212;
  font-family: Inter,sans-serif;
  color:white;
overflow:hidden;
}
body:before, body:after {
  content: "";
  position: absolute;
  left: 50%;
  min-width: 300vw;
  min-height: 300vw;
  background:black;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
body:before {
  bottom: 15vh;
  border-radius: 45%;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}
body:after {
  bottom: 12vh;
  opacity: 0.5;
  border-radius: 47%;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

@-webkit-keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}


#title
{
    text-align: center;
    font-size:6vh;
    width:100%;
    color:white;
    position: absolute;
    top: 5%;
    left:50%;
    transform:translate(-50%,-50%);
    font-family: Inter,sans-serif;
}

#github
{
    text-align: center;
    font-size:1vh;
    color:#2c6a7d;
    position: absolute;
    bottom: 2vh;
    right:1vh;
    font-family: Inter,sans-serif;

}





.button_convert, .button_other, .button_save, .button_delete
{
  align-items: center;
  background-color: rgba(255,255,255,0.0);
  border: 2px solid white;
  color: white;
  cursor: pointer;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 1.8vh;
  font-weight: 600;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 2vh;
  width: 17vh;
  outline: 0;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display:inline-block;
  padding-top:1vh;
  padding-bottom:1vh;
}

.button_convert
{
    background: rgba(110, 138, 110, 0.53);
}
.button_save
{
    background: rgba(196, 184, 89, 0.53);
}
.button_delete
{
    background: rgba(236, 61, 61, 0.53);
}
.button_other
{
    border: 1px solid rgba(255,255,255,0.5);
}

.button_convert:focus
{
  color: #171e29;
}
.button_save:focus
{
  color: #cfbe25;
}
.button_delete:focus
{
  color: #cfbe25;
}
.button_other:focus {
  color: #171e29;
}
.button_save:hover{
  border-color: rgba(196, 184, 89, 0.8);
  color: rgba(196, 184, 89, 1);
}
.button_convert:hover{
  border-color: rgba(110, 138, 110, 0.8);
  color: rgba(110, 138, 110, 1);
}
.button_delete:hover{
  border-color: rgba(236, 61, 61, 0.8);
  color: rgba(236, 61, 61, 1);
}
.button_other:hover {
  border-color: rgba(85, 85, 85, 0.8);
  color: rgba(85, 85, 85, 0.8);
}
.button_save:active{
  border-color: #06f;
  color: #06f;
}
.button_convert:active{
  border-color: #06f;
  color: #06f;
}
.button_delete:active{
  border-color: #06f;
  color: #06f;
}
.button_other:active {
  border-color: #06f;
  color: #06f;
}
