a
{
text-decoration: none;
color:white;
}


.back_button {
  border-radius: 100%;
  background: rgba(54, 54, 54, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.4px);
    -webkit-backdrop-filter: blur(2.4px);
    border: 1px solid rgba(54, 54, 54, 0.41);
  color: white;
  border: none;
  padding: 5px;
  font-size: 4vh;
  height: 5vh;
  width: 5vh;
  cursor: pointer;
  transition: all 0.2s ease;
  position:absolute;
    top: 3vh;
    left:3vh;
    transform:translate(-50%,-50%);
    z-index:100;
    line-height:1vh;
}

.back_button:hover {
  background-color: rgba(54, 54, 54, 0.8);
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background:#121212;
  font-family: Inter,sans-serif;
  color:white;
overflow:hidden;
}
body:before, body:after {
  content: "";
  position: absolute;
  left: 50%;
  min-width: 300vw;
  min-height: 300vw;
  background:black;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
body:before {
  bottom: 15vh;
  border-radius: 45%;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}
body:after {
  bottom: 12vh;
  opacity: 0.5;
  border-radius: 47%;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

@-webkit-keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}


#title
{
    text-align: center;
    font-size:6vh;
    width:100%;
    color:white;
    position: absolute;
    top: 5%;
    left:50%;
    transform:translate(-50%,-50%);
    font-family: Inter,sans-serif;
}

#github
{
    text-align: center;
    font-size:1vh;
    color:#2c6a7d;
    position: absolute;
    bottom: 2vh;
    right:1vh;
    font-family: Inter,sans-serif;

}






