{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}

{% block content %}
<div id="menu">
    <a href="/file_converter">
        <div class="choice_panel">
            <p>file converter</p>
            <img src="/static/images/file_converter.png" alt="file converter"/>
        </div>
    </a>
    <a href="/live_converter">
        <div class="choice_panel">
            <p>live converter</p>
            <img src="/static/images/live_converter.png" alt="live converter"/>
        </div>
    </a>
    <a href="/gallery">
        <div class="choice_panel">
            <p>gallery</p>
            <img src="/static/images/gallery.png" alt="gallery"/>
        </div>
    </a>
    <a href="/wiki">
        <div class="choice_panel">
            <p>wiki</p>
            <img src="/static/images/wiki.png" alt="wiki"/>
        </div>
    </a>
</div>
{% endblock %}