{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/live_converter.css') }}">
{% endblock %}

{% block content %}
<button onclick="window.location='/';" class="back_button">⮢</button>

<div id="audio_box" class="box">
    <div class="audio_grid">
        <div class="audio_setup border">
            <div id="audio_setup_inline_left">

                <label for="audio_devices_select">audio device:</label>
                <select onchange="change_audio_device(this);" name="audio_devices_select" id="audio_devices_select">
                </select>

            </div>
            <div id="audio_setup_inline_right">

                <div id="record_control">
                    <div class="border"></div>
                    <div class="play"></div>
                </div>

            </div>
        </div>
        <div class="audio_spectrum border"></div>
        <div class="audio_info border"></div>
        <div class="audio_image border"></div>
    </div>
</div>

<script src="static/js/live_audio.js"></script>
{% endblock %}