{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/live_converter.css') }}">
{% endblock %}

{% block content %}
<button onclick="window.location='/';" class="back_button">⮢</button>

<div id="audio_box" class="box">
    <div class="audio_grid">
        <div class="audio_setup border">
            <div id="audio_setup_inline_left">

                <label for="audio_devices_select">audio device:</label>
                <select onchange="change_audio_device(this);" name="audio_devices_select" id="audio_devices_select">
                </select>

            </div>
            <div id="audio_setup_inline_center">
                <p>record:</p>
                <div id="record_control">
                    <div class="border"></div>
                    <div class="play"></div>

                </div>

            </div>

            <div id="audio_setup_inline_right">

                <div class="memory">
                    <table class="table_memory">
                        <tr class="space">
                            <th>ram usage</th>
                            <td>:</td>
                            <td id="ram_usage"><span style="color:rgba(255,255,255,0.8);">- MB</span></td>
                        </tr>
                        <tr class="space">
                            <th>disk space</th>
                            <td>:</td>
                            <td id="disk_space_usage"><span style="color:rgba(255,255,255,0.8);">- MB</span></td>
                        </tr>
                    </table>
                </div>

            </div>


        </div>
        <div id="spectrum_window" class="audio_spectrum border">
            <div style="bottom:0px;" id="audio_spectrum"></div>
            <div id="audio_spectrum_info">
                <p id="freq_min">0 Hz</p>
                <p id="freq_max">5500 Hz</p>
                <p id="time_min">0 s</p>
                <p id="time_max">x s</p>
            </div>
        </div>

        <div class="audio_info border">
            <p class="audio_info_text">audio info:</p>
            <table class="table">
                <tr class="space">
                    <th>record length</th>
                    <td>:</td>
                    <td id="info_table_record_length">0s</td>
                </tr>
                <tr class="space">
                    <th>packets buffered</th>
                    <td>:</td>
                    <td id="info_table_packets_buffered">0</td>
                </tr>
            </table>
            <hr>
            <p class="audio_info_text">decoding status:</p>
            <table class="table">
                <tr class="space">
                    <th>start tone</th>
                    <td>:</td>
                    <td id="info_table_start_tone"><span style="color:red;">not found</span></td>
                </tr>
                <tr class="space">
                    <th>phasing signal</th>
                    <td>:</td>
                    <td id="info_table_phasing_signal"><span style="color:red;">not found</span></td>
                </tr>
                <tr class="space">
                    <th>image</th>
                    <td>:</td>
                    <td id="info_table_image"><span style="color:red;">not started</span></td>
                </tr>
                <tr class="space">
                    <th>stop tone</th>
                    <td>:</td>
                    <td id="info_table_stop_tone"><span style="color:red;">not found</span></td>
                </tr>
                <tr class="space">
                    <th>black</th>
                    <td>:</td>
                    <td id="info_table_black"><span style="color:red;">not found</span></td>
                </tr>
            </table>
            <hr>
            <p class="audio_info_text">audio output:</p>
            <div id="audio_output_panel">

                <div id="audio_output_panel_inner">
                    <div id="audio_not_saved">

                    </div>
                    <audio id="output_audio" src="" controls></audio>
                    <a class="button_convert" id="audio_download_button" href="" download="output.wav">download</a>
                </div>

            </div>

        </div>
        <div class="audio_image border">
            <div id="image_frames"></div>
        </div>
    </div>
</div>
<script src="static/js/socketio"></script>
<script src="static/js/live_audio.js"></script>
{% endblock %}